.example-container {
    height: 100vh;
}

.example-sidenav-content {
    height: 100vh;

}

.example-sidenav {
    background-color: #4267B2
}

.mat-drawer-inner-container {
    padding: 0px;
}

.btn-dark {
    border: none;
    color:white;
    background-color: #4267B2
}

.side-nav-options-list {
    list-style-type: none;
}

.side-nav-options-list li {
    display: block;
    height: 60px;
    line-height: 60px;
    padding-left: 55px;
    padding-right: 55px;
    color: white;
    border-bottom: solid 1px rgba(255, 255, 255, 0.407);

}

.side-nav-options-list li:hover {
    color: white;
    cursor: pointer;
}

.active {
    color: white;
    background-color: #383b4182;
}

ul.side-nav-options-list {
    padding: 0px;
}

.content-body {
    padding-left: 40px;
    padding-right: 40px;
}