<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header
            style="background-color: rgba(89, 89, 133, 0.46); color: white; margin-bottom: 5px; height: 50px;">
            <mat-panel-title>
                Categories
            </mat-panel-title>

        </mat-expansion-panel-header>
        <div>
            <section class="example-section" [formGroup]="toppings">
                <p *ngFor="let b of categories">
                    <mat-checkbox formControlName="pepperoni">{{b}}</mat-checkbox>
                </p>
            </section>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header
            style="background-color: rgba(89, 89, 133, 0.46); color: white; margin-bottom: 5px; height: 50px;">
            <mat-panel-title>
                Brand
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <section class="example-section" [formGroup]="toppings">
                <p *ngFor="let b of brands">
                    <mat-checkbox formControlName="pepperoni">{{b}}</mat-checkbox>
                </p>
            </section>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header
            style="background-color: rgba(89, 89, 133, 0.46); color: white; margin-bottom: 5px; height: 50px;">
            <mat-panel-title>
                Price
            </mat-panel-title>

        </mat-expansion-panel-header>
        <div>
            <section class="example-section" [formGroup]="toppings">
                <p *ngFor="let pr of priceRanges">
                    <mat-checkbox formControlName="pepperoni">{{pr}}</mat-checkbox>
                </p>
            </section>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header
            style="background-color: rgba(89, 89, 133, 0.46); color: white; margin-bottom: 5px; height: 50px;">
            <mat-panel-title>
                Customer ratings
            </mat-panel-title>

        </mat-expansion-panel-header>
        <div>
            <section class="example-section" [formGroup]="toppings">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor="let rt of ratings" [value]="rt">
                        {{rt}}
                    </mat-radio-button>
                </mat-radio-group>
            </section>
        </div>
    </mat-expansion-panel>
</mat-accordion>