table {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    color: rgba(17, 15, 15, 0.73);
  }
  td, th {
    color: rgba(17, 15, 15, 0.73);
  }
  th {
    background-color: gray;
  }

  .loader {
    position: fixed;
    left:700px;
    top: 300px;;
  }

  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  