table {
    width: 100%;
    margin-top: 20px;
  }

  .loader {
    position: fixed;
    left:700px;
    top: 300px;;
  }

  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  